<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
<div>
    <form action="{:url('Test/search')}">
        <input type="text" name="name" placeholder="{$name}">
        <input type="submit" value="搜索">
    </form>
    <table class="table">
        <tr>
            <td><input type="checkbox"></td>
            <td>文章标题</td>
            <td>文章描述</td>
            <td>文章封面</td>
            <td>文章内容</td>
            <td>添加时间</td>
        </tr>
        {volist name="list" id="data"}
        <tr>
            <td><input type="checkbox"></td>
            <td>{$data.name}</td>
            <td>{$data.desc}</td>
            <td><img src="/uploads/{$data.img}" style="width: 80px;height: 100px"></td>
            <td>{$data.contents}</td>
            <td>{$data.createtime}</td>
        </tr>
        {/volist}
    </table>
</div>
</body>
</html>